@charset "utf-8";
/* CSS Document */



.board{
	width:500px;
	padding-right:600px;
	height:400px;
	margin-top:50px;
	cursor:url("../works/elements/cursor.cur"),pointer;
}
.dot{width:100%;height:600px;margin-left:200px;}
.steplight{width:100%;height:50px;}

.dot div{
	height:80px;
	width:80px;
	border-radius:40px;
	border:2px solid;
	border-color:grey;
	margin-right:80px;
	margin-bottom:80px;
	float:left;
}
/*/
.steplight div{
	height:0px;
	width:4px;
	border-radius:2px;
	background-color:black;
	margin-right:21px;
	margin-bottom:40px;
	float:left;
}