@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}

body{background-image:url("paper.jpg")}



a{text-decoration: none;}
a:link { text-decoration:none;color: black}
a:active { text-decoration:none;color: black}
a:visited { text-decoration:none;color: black}
a:hover { text-decoration:none;color: grey}

p::selection,a::selection,h1::selection,h2::selection,h3::selection,h4::selection,h5::selection,h6::selection,strong::selection{background-color:#ACA394;color:white}


.navside a{display:block;margin-top:4px;}
.content a:link { text-decoration:underline;}


p{font-size: 16px;}

h3{margin-top: 0px;}
h5{margin-top:8px;}

img{width: 100%;}

body{
	margin-top: 0 auto;
	padding:0px;}
.blanktop{height: 110px;}
.navtop{
	width: 100%;
	height: 110px;
	position: fixed;
	margin-top: 0;
	background-image:url("paper.jpg");
}
.navtop a{
	font-size: 16px;
	float: left;
	margin-left: 80px;
	margin-top: 14px;
	text-align: start;}
.navfrag {font-size:14px;margin-top:20px;margin-bottom:80px;}
.navfrag a{float:left;margin-right:20px;}
.navfrag a:link { text-decoration:none;}
#logo{
	text-align: right;
	width: 240px;
	font-size: 16px;
	margin-left:40px;
}
.column{
	width: 285px;
	float: right;
	position: fixed;
	text-align: right;
	margin-top: 104px;
}
.navside{
	width: 285px;
	height:800px;
	position: fixed;
	float: right;
	text-align: right;
	padding-top: 140px;
	padding-right: 75px;
	margin-top:60px;
	background-image:url("paper.jpg")
}
.content {
	width:55%;
	padding-left:360px;
	padding-bottom:100px;
}
.music{width:750px;}
.content p{
	margin-top: 20px;
	line-height:22px;
	text-indent: 2em;
	float:none;
}
.content h6{
	margin-top: 10px;
}
.photo img{width:100%;}
.photo p{float:right;font-size:10px;text-indent:0;margin-top:0;margin-top:0;margin-bottom:30px;}
.photo {width:800px}
.album {
	height:144px;
	width:100%;
	width:inherit;
	display:block;
	margin-bottom:36px;
	margin-right:0px;
}
.album img{
	float:left;
	height:144px;
	width:144px;
	object-fit: cover;
}
.album div{
	height:144px;
	margin-left:40px;
	float:left;
	width:70%;
}
.album p{
	font-size:13px;
	text-indent:0em;
	margin-top:12px;
}
.album h6{
	margin-top:10px;
}
.album h5{
	margin-top:7px;
}

.thoughts h5{margin-top:40px;font-weight:500;}
.thoughts p{margin-top:10px;font-size:14px;text-indent:0em;line-height:1.7;}
.directory h4{font-weight:600;}
.directory h6{margin-top:3px;}
.directory p{margin-top:4px;font-size:14px;}
.directory div{margin-top:30px;width:100%;}
.directory a:link{text-decoration:none;}
.article p{margin-top:12px;}
.tpa a{margin-top:20px;display:block;}
.tpa a:link{}
body{font-family:STSong;}
